<p-card header="Sign In" subheader="This will take you to your colleague list">
  <div class="form">
    <label class="form__field">
      Email Address
      <input
        placeholder="Email Address"
        type="text"
        pInputText
        (keydown.enter)="login()"
        [formControl]="form.controls.email"
      />
    </label>
    <label class="form__field">
      Password
      <input
        placeholder="Password"
        type="password"
        pInputText
        (keydown.enter)="login()"
        [formControl]="form.controls.password"
      />
    </label>
    <!-- eslint-disable-next-line @angular-eslint/template/label-has-associated-control -->
    <label class="form__checkbox">
      <p-checkbox [formControl]="form.controls.remember" [binary]="true" />
      Remember me
    </label>
  </div>
  <ng-template pTemplate="footer">
    <p-button (onClick)="login()" size="large" label="Sign In" />
  </ng-template>
</p-card>
