:host {
  .user {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: var(--focus-ring);
    border-radius: var(--border-radius);

    &__name {
      font-weight: bold;
      font-size: 1.25rem;
      color: var(--gray-700);
    }

    &__title {
      color: var(--gray-400);
      font-size: 0.875rem;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
