<form class="form" [formGroup]="form">
  <label class="form__field">
    Name
    <input
      placeholder="Name"
      type="text"
      pInputText
      formControlName="name"
      (keydown.enter)="save()"
    />
  </label>
  <label class="form__field">
    Email Address
    <input
      placeholder="Email Address"
      type="text"
      pInputText
      formControlName="email"
      (keydown.enter)="save()"
    />
  </label>
  <label class="form__field">
    Title
    <input
      placeholder="Title"
      type="text"
      pInputText
      formControlName="title"
      (keydown.enter)="save()"
    />
  </label>
  <label class="form__field">
    Department
    <input
      placeholder="Department"
      type="text"
      pInputText
      formControlName="department"
      (keydown.enter)="save()"
    />
  </label>
  <div class="form__checkbox">
    <p-inputSwitch inputId="isAdmin" formControlName="admin" />
    <label for="isAdmin">Admin</label>
  </div>
  <div class="save">
    <p-button (onClick)="save()" label="Save" />
  </div>
</form>
